body { padding: 0; margin: 0 }
#unity-container { position: absolute; top: 0; left: 0%; bottom: 0%; right: 0% }
#unity-container.unity-mobile { width: 100%; height: 100% }

#unity-canvas { width: 100%; height: 100%; background: url('bg.png') }
#unity-logo { width: 512px; height: 512px; background: url('logo.png') no-repeat center }

#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-progress-bar-empty { width: 574px; height: 58px; margin-top: 10px; background: url('loading_bar.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 44px; margin-top: 10px; background: url('loading_fill.png') no-repeat center }
